.bowl {
    height: 800px;
    position: relative;
    border: 3px solid blue;
}
  
.center {
    margin: 0;
    position:absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
#def-Display {
    display: none;
}
  
#pDefDisplay {
    display: none;
}
  
#barDisplay {
    display: none;
}
  
/* #bowlDisplay {
    display:
} */
  
#footDisplay {
    display: none;
}