.center {
    margin: 0;
    position:absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* background-image: url("90s-tv-show-header.png"); */
}
#firstGiph {
    left: 33.3%;
}

#secondGiph {
    left: 33.3%;
}

#def-Display {
    display: none;
}

.definitionStyling {
    font-family: Playfair Display,serif;
}


#barDisplay {
    display: none;
    background: linear-gradient(45deg, #f66 0%, #93f, #23DBF9, #FF64BD 100%);
}


#footDisplay {
    display: none;
    background: linear-gradient(45deg, #f66 0%, #93f, #23DBF9,  #FF64BD 100%);
}

